@font-face {
  font-family: 'NotoSans-Regular';
  src: url(./asset/fonts/NotoSansThai-Regular.ttf);
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: url(./asset/fonts/NotoSansThai-SemiBold.ttf);
}
@font-face {
  font-family: 'NotoSans-Bold-EN';
  src: url(./asset/fonts/NotoSans-Bold-EN.ttf);
}
@font-face {
  font-family: 'NotoSans-Regular-EN';
  src: url(./asset/fonts/NotoSans-Regular-EN.ttf);
}

/* body {
  max-width: 600px;
  margin: 0 auto !important;
  display: -moz-inline-stack;
  font-family: "NotoSans-Bold", "NotoSans-Bold-EN" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
#root {
  /* min-width: 300px;
  max-width: 768px;
  height: 100vh;
  margin: auto;
  background-image: url("./asset/images/bg-green.svg");
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  background-repeat: repeat; */
}

#root-green {
  min-width: 300px;
  max-width: 768px;
  margin: 0 auto !important;
  min-height: 100vh;
  height: fit-content;
  margin: auto;
  background-image: url('./asset/images/bg-green.svg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  background-repeat: repeat;
  display: -moz-inline-stack;
  font-family: 'NotoSans-Regular', 'NotoSans-Bold-EN';
  /* font-family: "NotoSans-Bold", "NotoSans-Bold-EN" !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root-white {
  min-width: 300px;
  max-width: 768px;
  height: 100vh;
  margin: auto;
  background-image: url('./asset/images/bg-white.svg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
  background-repeat: repeat;
  z-index: 1;
  font-family: 'NotoSans-Regular' !important;
}
.menu-header {
  height: 5rem;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #1b4e4a;
}
.menu-header-blank {
  height: 5rem;
  width: 100%;
  left: 0px;
  top: 0px;
}
.menu-header-gallery {
  height: 15rem;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: scroll;
  text-align: center;
  background: #fff;
}
.header-logo-right {
  float: right;
  margin: 0.4rem 0.8rem 0.8rem 0.8rem;
  padding-right: 0.8rem;
}
.header-logo-right img {
  height: 3.1rem;
  margin-top: 0.3rem;
  float: right;
}
.header-title-left-detail {
  margin-left: 1rem;
  font-size: 1.4rem;
  background: -webkit-linear-gradient(#fcf3d1, #d7c39a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 5rem;
  line-height: 5rem;
  font-weight: 700;
}
.header-title-left-detail img {
  vertical-align: baseline;
  margin-right: 0.5rem;
  float: left;
  margin-top: 1.73rem;
}

div::-webkit-scrollbar {
  display: none;
}
.content {
  height: calc(100vh - 10rem);
  overflow-y: auto;
  text-decoration: none;
}
.content-gallery {
  height: calc(100vh - 20rem);
  overflow-y: auto;
  text-decoration: none;
}
.content-gallery-text1 {
  background: #fff;
  padding: 1rem 1rem 0 1rem;
  /* padding-left: 1rem; */
  margin-bottom: 0.5rem;
}
.content-gallery-text1-title {
  font-size: 1.2rem;
  font-weight: 700;
}
.content-gallery-text1-price {
  font-size: 1.1rem;
  color: #2c817c;
  font-weight: 700;
  padding: 1rem 0 1rem 0;
}
.content-gallery-text2 {
  background: #fff;
  padding: 1rem;
}
.content-gallery-text3 {
  margin-top: 1rem;
  text-align: justify;
  background: #fff;
  padding: 0rem 1rem 0 1rem;
  height: auto;
  margin-top: 0.5rem;
}
.content-gallery-text3-detail {
  font-size: 0.9rem;
}
.menu-footer {
  width: 100%;
  height: 5rem;
  bottom: 0;
  background: #1b4e4a;
  left: 0;
  right: 0;
  display: inline-flex;
  border-top: 1px solid #d7c39a;
}
.m-block {
  margin: 1.4rem 0;
  vertical-align: baseline;
  text-align: center;
  width: 25%;
  text-decoration: none;
}

.m-text {
  font-size: 0.5rem;
  color: #fff;
  margin-top: 0.5rem;
}
.gradient {
  background: -webkit-linear-gradient(#fcf3d1, #d7c39a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-title {
  color: #fff;
  font-size: 5.7vw;
  font-weight: bolder;
  padding: 5vw 6.5vw;
}
.c-card {
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  position: relative;
}
.c-card img {
  border-radius: 2rem 0 0 2rem;
  width: 33%;
  float: left;
  -webkit-border-radius: 2rem 0 0 2rem;
  -moz-border-radius: 2rem 0 0 2rem;
  -ms-border-radius: 2rem 0 0 2rem;
  -o-border-radius: 2rem 0 0 2rem;
}
.c-detail {
  float: left;
  width: 67%;
  margin: 2vw 4vw 2vw 2vw;
  color: #000;
  font-family: 'NotoSans-Bold' !important;
}
.c-sales {
  position: absolute;
  font-size: 3vw;
  right: -0.8vw;
  color: #2c817c;
  bottom: 2.5vw;
  padding: 0.2rem 0.3rem;
  border-radius: 0.15rem 0 0 0.2rem;
  background: linear-gradient(225deg, #fcf3d1 0.23%, #d7c39a 99.78%);
  -webkit-border-radius: 0.15rem 0 0 0.2rem;
  -moz-border-radius: 0.15rem 0 0 0.2rem;
  -ms-border-radius: 0.15rem 0 0 0.2rem;
  -o-border-radius: 0.15rem 0 0 0.2rem;
}
.c-detail-1 {
  font-size: 3.6vw;
  margin-bottom: 1.5vw;
}
.c-detail-2 {
  font-size: 3.2vw;
  color: #757575;
}
.c-detail-3 {
  position: absolute;
  bottom: 2.3vw;
  color: #2c817c;
  font-weight: 500;
  font-size: 3.6vw;
}
.c-sales div {
  width: 0vw;
  height: 0vw;
  border-left: 0.55vw solid #beb07b;
  border-top: 0.55vw solid #beb07b;
  border-right: 0.55vw solid transparent;
  border-bottom: 0.55vw solid transparent;
  position: absolute;
  right: 0rem;
  bottom: -1vw;
}
.icon {
  /* gradient and fallback color */
  fill: url(#my-cool-gradient) #fcf3d1;
}
.btn-green {
  margin: auto;
  display: block;
  width: 100%;
  font-size: 1rem;

  color: #fcf3d1;
  background: linear-gradient(#1b4e4a, #1b4e4a) padding-box,
    /*this is your grey background*/
      linear-gradient(to bottom, #fcf3d1, #beb07b) border-box;
  border: 0.15rem solid transparent;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.btn-red {
  margin: auto;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  color: #fcf3d1;
  background: linear-gradient(#af2643, #af2643) padding-box,
    /*this is your grey background*/
      linear-gradient(to bottom, #fcf3d1, #beb07b) border-box;
  border: 0.15rem solid transparent;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.white {
  color: #fff;
}
.red {
  color: #af2643;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.c-header-center {
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  display: block;
  padding-top: 2.5rem;
}
.dialog-error {
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 2;
  position: fixed;
}
.dialog-error-block {
  width: 90%;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  margin: 30vh auto;
  text-align: center;
}
.dialog-error-title {
  color: #af2643;
  font-size: 1.5rem;
  font-weight: 700;
}
.dialog-error-message {
  padding: 0.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginPanel {
  margin-top: calc(50vh - 65%);
}

.profileBlock {
  padding: 1rem 1rem;
  background: #1b4e4a;
  color: #fff;
  text-align: center;
}

.profileImg {
  width: 11rem;
  height: 11rem;
  border: 0.3rem solid #fff;
  border-radius: 99999rem;
  background-color: aquamarine;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 99999rem;
  -moz-border-radius: 99999rem;
  -ms-border-radius: 99999rem;
  -o-border-radius: 99999rem;
}

.ProfileName {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: 'NotoSans-Bold';
}

.ProfileTel {
  margin-top: 1.5rem;
  font-weight: 100;
  font-size: 1.4rem;
  font-family: 'NotoSans-Regular-EN';
}

.ProfileEmail {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: 'NotoSans-Regular-EN';
}

.AddrList {
  margin: 1rem;
}

.AddrHead {
  color: #fff;
  margin-left: 0.7rem;
  font-family: 'NotoSans-Bold';
}

.AddrBlock {
  background-color: #fff;
  padding: 0.5rem 0.7rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.AddrBlockDetail {
  width: calc(100vw - 2.5rem);
  height: fit-content;
  display: table-cell;
  font-family: 'NotoSans-Regular';
}

.AddrName {
  font-family: 'NotoSans-Bold';
}

.btnAddrEdit {
  width: 2rem;
  justify-content: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.5rem;
}

.btnAddrEdit span {
  background-color: black;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
}

.AddrNew {
  text-decoration: underline !important;
  text-align: center;
  margin-bottom: 1rem;
}

.AddrNew a {
  color: #fcf3d1;
  font-family: 'NotoSans-Bold';
  text-decoration: underline !important;
}

@media screen AND (max-width: 768px) AND (min-width: 320px) {
  * {
    font-weight: 500;
  }
}
@media screen AND (min-width: 768px) {
  .c-title {
    font-size: 2.73rem;
    padding: 2.4rem 3.1rem;
  }
  .c-detail-1 {
    font-size: 1.73rem;
    margin-bottom: 0.7rem;
  }
  .c-detail-2 {
    font-size: 1.54rem;
  }
  .c-detail-3 {
    bottom: 1.13rem;
    font-size: 1.73rem;
  }
  .c-sales {
    font-size: 1.44rem;
    right: -0.5rem;
    bottom: 1.2rem;
  }
  .c-sales div {
    border-left: 0.25rem solid #beb07b;
    border-top: 0.25rem solid #beb07b;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    right: 0rem;
    bottom: -0.5rem;
  }
}

@media (orientation: landscape) {
  .loginPanel {
    margin-top: 0px;
  }
}
