*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container-p1 {
  max-width: 1500px;
  min-width: 800px;
  height: auto;
  margin: auto;
  max-zoom: 100%;
  font-family: Noto Sans Thai, sans-serif;
}

.grid-container-p1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "first_area"
    "second_area"
    "third_area"
    "fourth_area"
    "fifth_area";
}

.section-p1 {
  border: 1px solid black;
}

.dropdown-content-p1 {
  visibility: hidden;
}

.mybutton-p1 {
  width: 170%;
  max-width: 220px;
  min-width: 50px;
  height: 3vw;
  min-height: 25px;
  max-height: 60px;
  /* #1B4E4A */
  border-radius: 100px;
}

.btn-darkgreen-p1 {
  border: 3px solid #1b4e4a;
  color: #1b4e4a;
  background: #ffffff;
}
.btn-darkgreen-p1:hover {
  border: 3px solid #1b4e4a;
  color: #ffffff;
  background: #1b4e4a;
}
.btn-darkgreen-p1:active {
  border: 3px solid #ff7800;
  color: #fff;
  background: #ff7800;
}

.btn-white-p1 {
  border: 3px solid #ffffff;
  color: #ffffff;
  background: transparent;
}
.btn-white-p1:hover {
  border: 3px solid #ffffff;
  color: #1b4e4a;
  background: #ffffff;
}
.btn-white-p1:active {
  border: 3px solid #ff7800;
  color: #fff;
  background: #ff7800;
}

.first-p1 {
  grid-area: first_area;
  position: relative;
  width: 100%;
  height: 50vw;
  min-height: 400px;
  max-height: 750px;
}

.second-p1 {
  grid-area: second_area;
  position: relative;
  width: 100%;
  height: 40vw;
  min-height: 320px;
  max-height: 600px;
}

.third-p1 {
  grid-area: third_area;
  position: relative;
  width: 100%;
  height: 40vw;
  min-height: 320px;
  max-height: 600px;
}

.fourth-p1 {
  grid-area: fourth_area;
  position: relative;
  width: 100%;
  height: 40vw;
  min-height: 320px;
  max-height: 600px;
}

.fifth-p1 {
  grid-area: fifth_area;
  position: relative;
  width: 100%;
  height: 40vw;
  min-height: 320px;
  max-height: 600px;
}
.footer-p1 {
  position: relative;
  width: 100%;
  /* min-width: 800px; */
  max-width: 1500px;
  height: auto;
  background-color: #1b4e4a;
}

.footer_text-p1 {
  font-size: clamp(0.5rem, 1vw, 1rem);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}

.top_bg_img-p1 {
  position: absolute;
  width: 100%;
  height: 50vw;
  min-height: 400px;
  max-height: 750px;
  top: 0px;
  object-fit: cover;
  z-index: -2;
}

.filter-first-p1 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 750px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
  opacity: 0.9;
  z-index: 0;
}

.fifth_bg_img-p1 {
  position: absolute;
  width: 100%;
  height: 40vw;
  min-height: 320px;
  max-height: 600px;
  object-fit: cover;
  z-index: -2;
}

.filter-fifth-p1 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 600px;
  right: 0px;
  top: 0px;

  background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
  opacity: 0.9;
  z-index: -1;
}

.top_menu-p1 {
  position: absolute;
  width: 70%;
  font-size: clamp(0.7rem, 1.2vw, 1.5rem);
  font-style: normal;
  color: #ffffff;
  padding-right: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2%;
  right: 5%;
  z-index: 2;
}

ul li a {
  text-decoration: none;
  cursor: pointer;
}

.nolist_icon-p1 {
  text-decoration: none;
  list-style-type: none;
  padding: 0 2%;
}

.logo-p1 {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 3%;
  top: 5%;
}

.hamburger_icon-p1 {
  position: absolute;
  visibility: hidden;
}

.cross_icon-p1 {
  visibility: hidden;
  position: absolute;
}

/* Image Location */
.main_coconut-p1 {
  position: absolute;
  width: 45%;
  left: 51%;
  right: auto;
  top: auto;
  bottom: 0;
}

.second_coconut-p1 {
  position: absolute;
  width: 33%;
  left: 7%;
  top: 50px;
}

.third_coconut-p1 {
  position: absolute;
  width: 34.5%;
  left: 65.5%;
  top: 0px;
}

.fourth_image-p1 {
  visibility: visible;
  position: absolute;
  width: 45.7%;
  left: 0px;
  top: 0px;
}

.fourth_image2-p1 {
  visibility: hidden;
  position: absolute;
  width: 45.5%;
  left: 0px;
  top: 0px;
}

.fifth_coconut-p1 {
  position: absolute;
  width: 40%;
  left: 57%;
  padding-top: 3.5%;
}

/* Text properties */
.title-p1 {
  color: transparent;
  font-style: normal;
  font-size: clamp(2rem, 4vw, 4rem);
  white-space: nowrap;
}

.main-p1 {
  font-style: normal;
  letter-spacing: 5%;
  white-space: nowrap;
}

.describe-p1 {
  white-space: nowrap;
  word-wrap: none;
  font-style: normal;
  letter-spacing: -0.24px;
  white-space: nowrap;
}

.sub-describe-p1 {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  letter-spacing: -0.24px;
  white-space: nowrap;
}

.button_text-p1 {
  font-style: normal;
  font-size: clamp(0.7rem, 1.5vw, 1.9rem);
  letter-spacing: -0.24px;
  white-space: nowrap;
  justify-content: center;
  vertical-align: middle;
}

.bold-p1 {
  font-weight: bold;
}

.thin-p1 {
  font-weight: lighter;
}

.font48-p1 {
  font-size: clamp(1.3rem, 2.5vw, 2.7rem);
}

.font36-p1 {
  font-size: clamp(1.2rem, 1.8vw, 2rem);
}

.gold-p1 {
  background-image: linear-gradient(180.01deg, #fcf3d1 0.01%, #d7c39a 99.99%);
  -webkit-background-clip: text;
  background-origin: inherit;
}

.white-p1 {
  color: #ffffff;
}

.grey-p1 {
  color: #757575;
}

.darkgreen-p1 {
  color: #1b4e4a;
}

.darkgrey-p1 {
  color: #3d3d3d;
}

.lightgreen-p1 {
  color: #12c65e;
}

.leftarea-p1 {
  position: absolute;
  width: 50%;
  left: 10%;
}

.rightarea-p1 {
  position: absolute;
  width: 45%;
  left: 50%;
}

/* text order number */
.text1-p1 {
  position: absolute;
  margin-top: 25%;
  z-index: 3;
}
.text2-p1 {
  position: absolute;
  margin-top: 38%;
  width: 80%;
  word-wrap: break-word;
  white-space: normal;
}
.text3-p1 {
  position: absolute;
  margin-top: 57%;
  width: 60%;
  word-wrap: break-word;
  white-space: normal;
}
.text4-p1 {
  position: absolute;
  margin-top: 16%;
}
.text5-p1 {
  position: absolute;
  margin-top: 25%;
  width: 110%;
  word-wrap: break-word;
  white-space: normal;
}
.text6-p1 {
  position: absolute;
  margin-top: 55%;
  word-wrap: break-word;
  white-space: normal;
}
.text7-p1 {
  position: absolute;
  margin-top: 10%;
}
.text8-p1 {
  position: absolute;
  margin-top: 20%;
  width: 80%;
  word-wrap: break-word;
  white-space: normal;
}
.text9-p1 {
  position: absolute;
  margin-top: 40%;
  width: 80%;
  word-wrap: break-word;
  white-space: normal;
}
.text10-p1 {
  position: absolute;
  margin-top: 7%;
}
.text11-p1 {
  position: absolute;
  margin-top: 18%;
}
.text12-p1 {
  position: absolute;
  margin-top: 30%;
}
.text13-p1 {
  position: absolute;
  margin-top: 43%;
}
.text14-p1 {
  position: absolute;
  margin-top: 10%;
}
.text15-p1 {
  position: absolute;
  margin-top: 20%;
}
.text16-p1 {
  position: absolute;
  margin-top: 24%;
  width: 80%;
  word-wrap: break-word;
  white-space: normal;
}

.text17-p1 {
  position: absolute;
  margin-top: 25%;
  left: 15%;
  width: 40%;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  z-index: 3;
}

.list_icon-p1 {
  list-style-type: disc;
}

.btn_position1-p1 {
  position: absolute;
  margin-top: 60%;
}
.btn_position2-p1 {
  position: absolute;
  margin-top: 75%;
}

/*------------------------------------------*/

/*responsive*/
@media screen AND (max-width: 768px) AND (min-width: 320px) {
  .container-p1 {
    min-width: 320px;
    max-width: 768px;
    height: auto;
    margin: auto;
    max-zoom: 100%;
  }

  .mybutton-p1 {
    width: 35vw;
    height: 10vw;
    border-radius: 100px;
    font-style: bold;
  }

  .dropdown-p1 {
    position: absolute;
    display: inline-block;
    width: 100vw;
    top: 7%;
  }

  .dropdown-content-p1 {
    visibility: visible;
    display: none;
    position: absolute;
    background-color: #1b4e4a;
    width: 100vw;
    padding-top: 30%;
    padding-bottom: 10%;
    min-width: 320px;
    max-width: 768px;
    height: 200vw;
    min-height: 640px;
    max-height: 1536px;
    top: -14vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }

  .dropdown-content-p1 a {
    color: white;
    padding: 8vw 20px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-content-p1  a:hover{
    background-color: #f1f1f1;
    color: #1b4e4a;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
         display: block;
         -webkit-animation: fadein 1s;
         /*Safari,ChromeandOpera>12.1*/-moz-animation: fadein 1s;
         /*Firefox<16*/-ms-animation: fadein 1s;
         /*InternetExplorer*/-o-animation: fadein 1s;
         /*Opera<12.1*/animation: fadein 1s;
}
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .btn-darkgreen-p1 {
    border: 3px solid #1b4e4a;
    color: #1b4e4a;
    background: #ffffff;
  }
  .btn-darkgreen-p1:hover {
    border: 3px solid #1b4e4a;
    color: #ffffff;
    background: #1b4e4a;
  }
  .btn-darkgreen-p1:active {
    border: 3px solid #ff7800;
    color: #fff;
    background: #ff7800;
  }

  .btn-white-p1 {
    border: 3px solid #ffffff;
    color: #ffffff;
    background: transparent;
  }
  .btn-white-p1:hover {
    border: 3px solid #ffffff;
    color: #1b4e4a;
    background: #ffffff;
  }
  .btn-white-p1:active {
    border: 3px solid #ff7800;
    color: #fff;
    background: #ff7800;
  }

  .first-p1 {
    grid-area: first_area;
    position: relative;
    width: 100%;
    height: 200vw;
    min-height: 640px;
    max-height: 1536px;
  }

  .second-p1 {
    grid-area: second_area;
    position: relative;
    width: 100%;
    height: 186.6vw;
    min-height: 597px;
    max-height: 1430px;
  }

  .third-p1 {
    grid-area: third_area;
    position: relative;
    width: 100%;
    height: 186.6vw;
    min-height: 597px;
    max-height: 1430px;
  }

  .fourth-p1 {
    grid-area: fourth_area;
    position: relative;
    width: 100%;
    height: 272vw;
    min-height: 750px;
    max-height: 2086px;
  }

  .fifth-p1 {
    grid-area: fifth_area;
    position: relative;
    width: 100%;
    height: 200vw;
    min-height: 640px;
    max-height: 1430px;
  }

  .top_bg_img-p1 {
    position: absolute;
    width: 100%;
    height: 200vw;
    min-height: 640px;
    max-height: 1534px;
    top: 0px;
    object-fit: cover;
    z-index: -2;
  }

  .filter-first-p1 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 1536px;
    right: 0px;
    top: 0px;
    background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
    opacity: 0.9;
    z-index: 0;
  }

  .fifth_bg_img-p1 {
    position: absolute;
    width: 100%;
    height: 200vw;
    min-height: 640px;
    max-height: 1430px;
    object-fit: cover;
    z-index: -2;
  }

  .filter-fifth-p1 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 1430px;
    right: 0px;
    top: 0px;

    background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
    opacity: 0.9;
    z-index: -1;
  }

  .top_menu-p1 {
    visibility: hidden;
  }

  /*ul li{
		text-decoration: none;
		list-style-type: none;
		padding: 0 20px;
	} */

  ul li a {
    text-decoration: none;
    cursor: pointer;
  }

  .nolist_icon-p1 {
    text-decoration: none;
    list-style-type: none;
    padding: 0 2%;
  }

  .logo-p1 {
    position: absolute;
    width: 7%;
    /* height: 10%; */
    left: 10%;
    top: 3%;
    z-index: 5;
  }

  .hamburger_icon-p1 {
    visibility: visible;
    position: absolute;
    z-index: 3;
    width: 5%;
    left: auto;
    right: 10%;
    top: 7%;
    cursor: pointer;
  }

  /* Image Location */
  .main_coconut-p1 {
    position: absolute;
    width: 100%;
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
  }

  .second_coconut-p1 {
    position: absolute;
    width: 90%;
    left: 7%;
    top: auto;
    bottom: 5%;
  }

  .third_coconut-p1 {
    position: absolute;
    width: 80%;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }

  .fourth_image-p1 {
    visibility: hidden;
  }

  .fourth_image2-p1 {
    visibility: visible;
    position: absolute;
    width: 100%;
    left: 0px;
    top: auto;
    bottom: 0;
  }

  .fifth_coconut-p1 {
    position: absolute;
    width: 100%;
    left: 0;
    top: auto;
    bottom: 0;
    padding-top: 3.5%;
  }

  /* Text properties */
  .title-p1 {
    font-size: clamp(1.4rem, 6.8vw, 3rem);
  }

  .main-p1 {
    font-style: normal;
    letter-spacing: 5%;
    line-height: 10vw;
    white-space: nowrap;
  }

  .describe-p1 {
    white-space: nowrap;
    word-wrap: none;
    font-style: normal;
    letter-spacing: -0.24px;
    line-height: 10vw;
    white-space: nowrap;
  }

  .sub-describe-p1 {
    font-style: normal;
    font-weight: normal;
    font-size: clamp(0.8rem, 4vw, 4rem);
    letter-spacing: -0.24px;
    white-space: nowrap;
  }

  .button_text-p1 {
    font-style: normal;
    font-size: clamp(1.2rem, 5vw, 4rem);
    letter-spacing: -0.24px;
    white-space: nowrap;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 20%;
  }

  .thin-p1 {
    font-weight: lighter;
  }

  .font48-p1 {
    font-size: clamp(1.2rem, 5.5vw, 4rem);
  }

  .font36-p1 {
    font-size: clamp(1rem, 5.2vw, 4rem);
  }

  .white-p1 {
    color: #ffffff;
  }

  .grey-p1 {
    color: #757575;
  }

  .darkgreen-p1 {
    color: #1b4e4a;
  }

  .darkgrey-p1 {
    color: #3d3d3d;
  }

  .lightgreen-p1 {
    color: #12c65e;
  }

  .leftarea-p1 {
    position: absolute;
    width: 80%;
    left: 10%;
  }

  .rightarea-p1 {
    position: absolute;
    width: 80%;
    left: 10%;
  }

  /* text order number */
  .text1-p1 {
    position: absolute;
    margin-top: 50%;
  }
  .text2-p1 {
    position: absolute;
    margin-top: 65%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text3-p1 {
    position: absolute;
    margin-top: 95%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text4-p1 {
    position: absolute;
    margin-top: 16%;
  }
  .text5-p1 {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text6-p1 {
    position: absolute;
    margin-top: 85%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text7-p1 {
    position: absolute;
    margin-top: 10%;
  }
  .text8-p1 {
    position: absolute;
    margin-top: 23%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text9-p1 {
    position: absolute;
    margin-top: 60%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text10-p1 {
    position: absolute;
    margin-top: 10%;
  }
  .text11-p1 {
    position: absolute;
    margin-top: 25%;
  }
  .text12-p1 {
    position: absolute;
    margin-top: 40%;
  }
  .text13-p1 {
    position: absolute;
    margin-top: 55%;
  }
  .text14-p1 {
    position: absolute;
    margin-top: 10%;
  }
  .text15-p1 {
    position: absolute;
    margin-top: 30%;
  }
  .text16-p1 {
    position: absolute;
    margin-top: 38%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }

  .text17-p1 {
    position: absolute;
    margin-top: 60%;
    left: 15%;
    width: 75%;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
  }

  .list_icon-p1 {
    list-style-type: disc;
  }

  .btn_position1-p1 {
    position: absolute;
    margin-top: 100%;
  }
  .btn_position2-p1 {
    position: absolute;
    margin-top: 100%;
  }
}
