.container-p3 {
  max-width: 1500px;
  min-width: 320px;
  height: auto;
  margin: auto;
  font-family: "Noto Sans Thai", "sans-serif";
  max-zoom: 100%;
}

.grid-container-p3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "head_menu_area"
    "content_area"
    "footer_area";
}

.top_img2-p3 {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  min-width: 320px;
  height: 8vw;
  min-height: 60px;
  max-height: 120px;
  padding: 0;
  object-fit: cover;
  z-index: -1;
}

.filter-p3 {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  min-width: 320px;
  top: 0px;
  height: 8vw;
  min-height: 60px;
  max-height: 120px;
  background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
  opacity: 0.9;
  z-index: 0;
}

.head_menu-p3 {
  grid-area: head_menu_area;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 8vw;
  min-height: 60px;
  max-height: 120px;
  display: grid;
  grid-template-columns: 7vw auto;
  z-index: 1;
}

.logo-p3 {
  position: relative;
  left: 100%;
  top: 15%;
  width: 3vw;
  min-width: 25px;
  z-index: 2;
}

p-p3 {
  text-decoration: none;
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  color: #000;
  word-wrap: break-word;
  white-space: normal;
  z-index: 2;
}

b-p3 {
  text-decoration: none;
  font-size: clamp(0.8rem, 2.8vw, 1.8rem);
  font-weight: bold;
  color: #000;
  word-wrap: break-word;
  white-space: normal;
  z-index: 2;
}

ol li-p3 {
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  color: black;
  word-wrap: break-word;
  white-space: normal;
}

.title-p3 {
  text-decoration: none;
  font-size: clamp(1rem, 5vw, 4rem);
  color: #505050;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.sub-title-p3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.6rem, 2vw, 1.3rem);
  word-wrap: break-word;
  white-space: normal;
}

.content-p3 {
  grid-area: content_area;
  position: relative;
  width: 80%;
  word-wrap: break-word;
  margin: 0 10% 0 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  max-width: 1500px;
  color: #505050;
}

.footer-p3 {
  grid-area: footer_area;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1500px;
  align-items: center;
  height: auto;
  background-color: #1b4e4a;
}

.footer_text-p3 {
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  color: white;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0;
}
