
.container-p2 {
  max-width: 1500px;
  min-width: 320px;
  height: auto;
  margin: auto;
  max-zoom: 100%;
  font-family: "Noto Sans Thai", "sans-serif";
}

.grid-container-p2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "head-menu"
    "grid-content";
    font-family: "Noto Sans Thai", "sans-serif";
}

.section-p2 {
  border: 1px solid black;
}

.head_menu-p2 {
  grid-area: head-menu;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 8vw;
  min-height: 60px;
  max-height: 120px;
  display: grid;
  grid-template-columns: 7vw auto;
  z-index: 1;
}

.top_bg_img-p2 {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  min-width: 320px;
  height: 8vw;
  min-height: 40px;
  max-height: 120px;
  object-fit: cover;
  z-index: -2;
}

.filter-p2 {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  min-width: 320px;
  top: 0px;
  height: 8vw;
  min-height: 40px;
  max-height: 120px;
  background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
  opacity: 0.9;
  z-index: -1;
}

.logo-p2 {
  position: absolute;
  left: 5%;
  top: 13%;
  width: 3%;
  max-width: 50px;
  z-index: 2;
}

.content-p2 {
  grid-area: grid-content;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 225.5vw;
  min-height: 750px;
  max-height: 3382px;
}

/* Image Location */
.main_coconut-p2 {
  position: absolute;
  width: 40%;
  left: 58%;
  right: 5%;
  top: 1%;
}

.second_coconut-p2 {
  position: absolute;
  width: 40%;
  left: 5%;
  margin-top: 55%;
}

.machine_image-p2 {
  position: absolute;
  width: 25%;
  left: 64%;
  margin-top: 100%;
}

.mobile_image-p2 {
  position: absolute;
  width: 30%;
  left: 10%;
  margin-top: 170%;
}

.footer-p2 {
  position: relative;
  width: 100%;
  /* min-width: 800px; */
  max-width: 1500px;
  height: auto;
  background-color: #1b4e4a;
}

.footer_text-p2 {
  font-size: clamp(0.5rem, 1vw, 1rem);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Text properties */
.title-p2 {
  color: transparent;
  font-style: normal;
  font-size: clamp(2rem, 4vw, 4rem);
  white-space: nowrap;
}

.main-p2 {
  font-style: normal;
  letter-spacing: 5%;
  white-space: nowrap;
}

.describe-p2 {
  white-space: nowrap;
  word-wrap: none;
  font-style: normal;
  letter-spacing: -0.24px;
  white-space: nowrap;
}

.sub-describe-p2 {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  letter-spacing: -0.24px;
  white-space: nowrap;
}

.button_text-p2 {
  font-style: normal;
  font-size: clamp(0.7rem, 1.5vw, 1.9rem);
  letter-spacing: -0.24px;
  white-space: nowrap;
  justify-content: center;
  vertical-align: middle;
}

.bold-p2 {
  font-weight: bold;
}

.thin-p2 {
  font-weight: lighter;
}

.font48-p2 {
  font-size: clamp(0.7rem, 2.5vw, 2.7rem);
}

.font36-p2 {
  font-size: clamp(0.5rem, 1.8vw, 2rem);
}

.gold-p2 {
  background-image: linear-gradient(180.01deg, #fcf3d1 0.01%, #d7c39a 99.99%);
  -webkit-background-clip: text;
  background-origin: inherit;
}

.white-p2 {
  color: #ffffff;
}

.grey-p2 {
  color: #757575;
}

.darkgreen-p2 {
  color: #1b4e4a;
}

.darkgrey-p2 {
  color: #3d3d3d;
}

.lightgreen-p2 {
  color: #12c65e;
}

.leftarea-p2 {
  position: relative;
  width: 50%;
  left: 5%;
  z-index: 2;
}

.rightarea-p2 {
  position: relative;
  width: 45%;
  left: 50%;
}

/* text order number */
.text1-p2 {
  position: absolute;
  margin-top: 20%;
}
.text2-p2 {
  position: absolute;
  margin-top: 35%;
  width: 95%;
  word-wrap: break-word;
  white-space: normal;
}
.text3-p2 {
  position: absolute;
  margin-top: 100%;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.text4-p2 {
  position: absolute;
  margin-top: 130%;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.text5-p2 {
  position: absolute;
  margin-top: 230%;
  width: 95%;
  word-wrap: break-word;
  white-space: normal;
}
.text6-p2 {
  position: absolute;
  margin-top: 250%;
  width: 95%;
  word-wrap: break-word;
  white-space: normal;
}
.text7-p2 {
  position: absolute;
  margin-top: 360%;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.text8-p2 {
  position: absolute;
  margin-top: 390%;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

@media screen AND (max-width: 768px) {
  .container-p2 {
    max-width: 768px;
    min-width: 320px;
    height: auto;
    margin: auto;
    max-zoom: 100%;
  }

  .grid-container-p2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "head-menu"
      "grid-content";
  }

  .section-p2 {
    border: 1px solid black;
  }

  .head_menu-p2 {
    grid-area: head-menu;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 8vw;
    min-height: 60px;
    max-height: 120px;
    display: grid;
    grid-template-columns: 7vw auto;
    z-index: 1;
  }

  .top_bg_img-p2 {
    position: absolute;
    width: 100%;
    max-width: 1500px;
    min-width: 320px;
    height: 14vw;
    min-height: 40px;
    max-height: 120px;
    object-fit: cover;
    z-index: -2;
  }

  .filter-p2 {
    position: absolute;
    width: 100%;
    max-width: 1500px;
    min-width: 320px;
    top: 0px;
    height: 14vw;
    min-height: 40px;
    max-height: 120px;
    background: linear-gradient(180deg, #16a299 0%, #1b4e4a 100%);
    opacity: 0.9;
    z-index: -1;
  }

  .logo-p2 {
    position: absolute;
    left: 5%;
    top: 3vw;
    width: 5vw;
    max-width: 50px;
    z-index: 2;
  }

  .content-p2 {
    grid-area: grid-content;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 890vw;
    min-height: 2900px;
    max-height: 6800px;
  }

  /* Image Location */
  .main_coconut-p2 {
    position: absolute;
    width: 100%;
    left: 0;
    right: auto;
    top: 80vw;
    bottom: auto;
  }

  .second_coconut-p2 {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 260vw;
  }

  .machine_image-p2 {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 420vw;
  }

  .mobile_image-p2 {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 620vw;
  }

  .footer-p2 {
    position: relative;
    width: 100%;
    /* min-width: 800px; */
    max-width: 1500px;
    height: auto;
    background-color: #1b4e4a;
  }

  .footer_text-p2 {
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  /* Text properties */
  .title-p2 {
    color: transparent;
    font-style: normal;
    font-size: clamp(2rem, 4vw, 4rem);
    white-space: nowrap;
  }

  .main-p2 {
    font-style: normal;
    letter-spacing: 5%;
    white-space: nowrap;
  }

  .describe-p2 {
    white-space: nowrap;
    word-wrap: none;
    font-style: normal;
    letter-spacing: -0.24px;
    white-space: nowrap;
  }

  .sub-describe-p2 {
    font-style: normal;
    font-weight: normal;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    letter-spacing: -0.24px;
    white-space: nowrap;
  }

  .button_text-p2 {
    font-style: normal;
    font-size: clamp(0.7rem, 1.5vw, 1.9rem);
    letter-spacing: -0.24px;
    white-space: nowrap;
    justify-content: center;
    vertical-align: middle;
  }

  .bold-p2 {
    font-weight: bold;
  }

  .thin-p2 {
    font-weight: lighter;
  }

  .font48-p2 {
    font-size: clamp(0.7rem, 6vw, 2.7rem);
  }

  .font36-p2 {
    font-size: clamp(0.5rem, 4.5vw, 2rem);
  }

  .gold-p2 {
    background-image: linear-gradient(180.01deg, #fcf3d1 0.01%, #d7c39a 99.99%);
    -webkit-background-clip: text;
    background-origin: inherit;
  }

  .white-p2 {
    color: #ffffff;
  }

  .grey-p2 {
    color: #757575;
  }

  .darkgreen-p2 {
    color: #1b4e4a;
  }

  .darkgrey-p2 {
    color: #3d3d3d;
  }

  .lightgreen-p2 {
    color: #12c65e;
  }

  .leftarea-p2 {
    position: relative;
    width: 80%;
    left: 10%;
    z-index: 2;
  }

  .rightarea-p2 {
    position: relative;
    width: 80%;
    left: 10%;
  }

  /* text order number */
  .text1-p2 {
    position: absolute;
    margin-top: 15%;
  }
  .text2-p2 {
    position: absolute;
    margin-top: 35%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text3-p2 {
    position: absolute;
    margin-top: 230%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text4-p2 {
    position: absolute;
    margin-top: 260%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text5-p2 {
    position: absolute;
    margin-top: 500%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text6-p2 {
    position: absolute;
    margin-top: 540%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text7-p2 {
    position: absolute;
    margin-top: 830%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
  .text8-p2 {
    position: absolute;
    margin-top: 860%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
  }
}
